In [8]:
import json
ids = []
with open('dataset/corpus.jsonl', 'r') as f:
    for line in f.readlines():
        aux = json.loads(line)
        ids.append(int(aux['_id']))

In [18]:
import pandas as pd
from tqdm import tqdm
majority = []
consensus = []

for query in range(9):
    df_j = pd.read_csv(f'gambling_asesores_final/{query}.csv')
    c = df_j.loc[df_j['consensus'] == True].doc_id.values
    m = df_j.loc[df_j['majority'] == True].doc_id.values

    for doc_id in tqdm(ids):
        majority.append([query, 0, doc_id, int(doc_id in m)])
        consensus.append([query, 0, doc_id, int(doc_id in c)])

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 469400/469400 [00:01<00:00, 238679.06it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 469400/469400 [00:02<00:00, 213961.22it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 469400/469400 [00:02<00:00, 219016.42it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 469400/469400 [00:02<00:00, 195558.71it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 469400/469400 [00:02<00:00, 206048.64it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 469400/469400 [00:02<00:00, 232709.30it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 469400/469400 [00:02<00:00, 203604.61it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 469400/469400 [00:02<00:00, 195462.26it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 469400/469400 [00:02<00:00, 233306.19it/s]

In [19]:
df_majority = pd.DataFrame(majority, columns=['query', 'Q0', 'doc-id', 'rel'])
df_majority.to_csv('rels/qrels_majority.csv')

In [20]:
df_consensus = pd.DataFrame(consensus, columns=['query', 'Q0', 'doc-id', 'rel'])
df_consensus.to_csv('rels/qrels_consensus.csv')

In [22]:
df_consensus = pd.read_csv('rels/qrels_consensus.csv', index_col=0)

In [23]:
df_consensus.loc[df_consensus.rel == 1]

         query  Q0  doc-id  rel
10293        0   0   10760    1
38615        0   0   41039    1
43736        0   0   46383    1
58233        0   0   61610    1
72218        0   0   76191    1
...        ...  ..     ...  ...
3583630      7   0  311369    1
3641360      7   0  373279    1
3764965      8   0   10226    1
3815814      8   0   64062    1
4061237      8   0  320098    1

[66 rows x 4 columns]

In [25]:
df_majority = pd.read_csv('rels/qrels_majority.csv', index_col=0)

In [26]:
df_majority.loc[df_majority.rel == 1]

         query  Q0  doc-id  rel
10293        0   0   10760    1
28768        0   0   30838    1
38577        0   0   41001    1
38615        0   0   41039    1
43736        0   0   46383    1
...        ...  ..     ...  ...
3966930      8   0  220560    1
4061237      8   0  320098    1
4198370      8   0  470450    1
4207523      8   0  480668    1
4213177      8   0  486750    1

[144 rows x 4 columns]